@import './variables';
@import './nav';
@import './footer';

.app-container {
  margin-top: 5.25rem;
}

.cloud-viewer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
